* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.navbar {
  display: grid;
  grid-template-columns: 2fr 9fr 2fr;
  background-color: #003153;
}

#nav-links {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
}

.nav-link {
  color: whitesmoke;
  margin: 0 15px;
  text-decoration: solid;
}

.nav-link:hover {
  text-decoration: underline;
}

#raven-image {
  width: 200px;
  justify-self: end;
  transform: scale(-1, 1);
}

#title-text {
  font-size: 4rem;
  align-self: center;
  text-align: center;
  font-family: 'Lemonada', cursive;
  color: whitesmoke;
}

section#about {
  background-image: url(./images/wave.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-family: 'Lemonada', cursive;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 300px;
  padding-left: 20px;
}

.about-text {
  font-size: 1.75rem;
  width: 35%;
  margin: 2% 5% 0 auto;
}

/* poem-writing */

#poem-writing {
  background-color: black;
  padding: 20px;
}

/* sign up */

.signup {
  background-image: url(./images/whirlpool.jpeg);
  background-size: cover;
  padding: 250px;
}

#signup-box {
  background-color: #003153;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid black;
  justify-content: center;
  font-family: 'Lemonada', cursive;
}

.signup-input {
  height: 40px;
  width: 70%;
  display: block;
  border: 1px solid black;
  margin: 15px auto;
}

.signup-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 15px;
  color: firebrick;
}

.signup-btn {
  padding: 2px;
  color: firebrick;
  background-color: black;
}

.signup-btn:hover {
  cursor: pointer;
  border: 1px solid whitesmoke;
}

.login-text {
  text-align: center;
  font-size: 1.5rem;
  color: firebrick;
}

hr.divider {
  margin-top: 30px;
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: whitesmoke;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.divider:before {
  /* Not really supposed to work, but does */
  display: block;
  content: '';
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: whitesmoke;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.link-to-login {
  color: firebrick;
}
